<div class="container exercise-page">
  <h2 class="exercise-title">Exercício <%= @exercise.id %> de <%= @exercise.category %> - <%= @exercise.sub_category %></h2>

  <div class="exercise-statement col-xs-12 col-sm-12 col-lg-8 mx-auto">
    <div class="card">
    <% if @exercise.image %>
      <%= image_tag @exercise.image, class: "mx-auto image-centered", width: 300, height: 350%>
      <p class="exercise-source text-center text-muted">Fonte: <%=@exercise.source%></p>
      <div class="card-body text-justify"> 
        <%= simple_format @exercise.statement %>
      </div>
    <% else %>
      <div class="card-body text-justify"> 
        <%= simple_format @exercise.statement %>
      </div>
      <p class="exercise-source text-center text-muted">Fonte: <%=@exercise.source%></p>
    <% end %> 
    </div>
  </div>

  <br>

  <%= render 'user_answer_form'%>


  <br>
  <div id="resolution" style="display: none;">
    <%= render 'solution'%>
  </div>
</div>
<%# <%raise%> 

<script>

document.querySelector("#form").addEventListener("submit", (e)=>{
  // e.preventDefault();
  answer = document.querySelector('input[name="answer"]:checked').value;
  console.log(answer)
  var array = [1, 2, 3, 4, 5];
  document.getElementById("resolution").style.display = 'block';

});
</script> 
// <%# <%raise%> 

// <%# <script>

// var myEl = document.getElementById('submit');

// myEl.addEventListener('click', function() {
//     document.getElementById("resolution").style.display = 'block';
// }, false);

// </script> %>