<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to exercises_path(), class: "navbar-brand" do %>
      <%= image_tag "https://thumbs.dreamstime.com/z/cute-cartoon-panda-character-eating-noodles-bowl-funny-chinese-food-illustration-isolated-black-white-clip-art-drawing-112990803.jpg" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
                <%= link_to "Profile", current_user, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link btn btn-default btn-sm"%>
          </li>
          <li class="nav-item dropdown"> 
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "dropdown-toggle avatar-large avatar", id: "navbarDropdown", 'aria-haspopup': true, 'aria-expanded': false %>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
             <li> <%= link_to "Action", "#", class: "dropdown-item" %></li>
             <li> <%= link_to "Another action", "#", class: "dropdown-item" %></li>
              <%# <li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li> %>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
