<div class="container exercise-page">
  <%# Title %>
  <h2 class="exercise-title">
    Exercício <%= @exercise.id %> de <%= @exercise.category %> - <%= @exercise.sub_category %>
  </h2>

  <%# Problema, Imagem e Fonte %>
  <%= render 'exercise', exercise: @exercise %>

  <br>
    <%# UserAnswer Form %>
    <%= render 'user_answers/user_answer_form', user_answer: @user_answer %>
  <br>

    <%# Resolução e Confirmação de certo ou errado%>
  <%= turbo_frame_tag "solution" %>

</div>