<div class="table-responsive">
  <table class="table caption-top" id="previous-exercises-table">
  <caption class="text-center"><h5>Histórico de Respostas</h4></caption>
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Imagem</th>
        <th scope="col">Categoria</th>
        <th scope="col">Pergunta</th>
        <th scope="col"># Errado</th>
        <th scope="col">Última Tentativa</th>
      </tr>
    </thead>
    <tbody>
    <% @user_answers.each do |user_answer|%>
      <tr>
        <td><%=link_to user_answer.exercise.id, new_exercise_user_answer_path(user_answer.exercise)%></td>
        <td>
          <%if user_answer.exercise.image%>
            <%=link_to image_tag(user_answer.exercise.image,  class: "mx-auto exercise-image", width: "100", height: "100"), new_exercise_user_answer_path(user_answer.exercise)%>
          <%else%>
            None
          <%end%>
        </td>
        
        <td><%=link_to user_answer.exercise.category, new_exercise_user_answer_path(user_answer.exercise)%></td>
        <td><%=link_to user_answer.exercise.statement, new_exercise_user_answer_path(user_answer.exercise)%></td>
        <td><%=user_answer.user.user_answers.find_all{
          |answer_user| (answer_user.answer.true_answer== false) && 
          (answer_user.exercise_id == user_answer.exercise.id)
          }.count%></td>

        <% if user_answer.answer_id == user_answer.exercise.answers.select { |answer| answer.true_answer == true }[0].id%>
          <td>✅</td>
        <%else%>
          <td>❌</td>
        <%end%>
      </tr>
      <%end%>
    </tbody>
  </table>
  </div>