<section>
  <div class="container py-5">
    <%# <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">User</a></li>
            <li class="breadcrumb-item active" aria-current="page">User Profile</li>
          </ol>
        </nav>
      </div>
    </div> %>

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3"><%= @user.first_name %> <%= @user.last_name %></h5>
            <p class="text-muted mb-1">Aluno do Secundário</p>
            <p class="text-muted mb-4">Lisboa, Portugal</p>
            <%# <div class="d-flex justify-content-center mb-2">
              <button type="button" class="btn btn-primary">Follow</button>
              <button type="button" class="btn btn-outline-primary ms-1">Message</button>
            </div> %>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fas fa-globe fa-lg text-warning"></i>
                <p class="mb-0">https://mdbootstrap.com</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                <p class="mb-0">mdbootstrap</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                <p class="mb-0">@mdbootstrap</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                <p class="mb-0">mdbootstrap</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                <p class="mb-0">mdbootstrap</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @user.first_name %> <%= @user.last_name %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @user.email %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">Lisboa, Portugal</p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"><span class="text-primary font-italic me-1">assigment</span> Project Status
                </p>
                <p class="mb-1" style="font-size: .77rem;">Web Design</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Website Markup</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>
                <div class="progress rounded mb-2" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>


          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"><span class="text-primary font-italic me-1">assigment</span> Project Status
                </p>
                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%# <div class="col-md-6"> %>
<!--<canvas id="lineChart" width="500" height="500" data-dates="<%=@user_answer_dates %>" data-scores="<%=@user_answer_scores %>"></canvas> %>-->
<%# </div> %>
<div class="container">
<div class="table-responsive">
  <table class="table caption-top">
  <caption class="text-center"><h5>Histórico de Respostas</h4></caption>
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Imagem</th>
        <th scope="col">Categoria</th>
        <th scope="col">Pergunta</th>
        <th scope="col"># Errado</th>
        <th scope="col">Última Tentativa</th>
      </tr>
    </thead>
    <tbody>
    <% @user.user_answers.order(updated_at: :desc).each do |user_answer|%>
      <tr>
        <td><%=link_to user_answer.exercise.id, new_exercise_user_answer_path(user_answer.exercise)%></td>
        <td>
          <%if user_answer.exercise.image%>
            <%=link_to image_tag(user_answer.exercise.image,  class: "mx-auto exercise-image", width: "100", height: "100"), new_exercise_user_answer_path(user_answer.exercise)%>
          <%else%>
            None
          <%end%>
        </td>
        
        <td><%=link_to user_answer.exercise.category, new_exercise_user_answer_path(user_answer.exercise)%></td>
        <td><%=link_to user_answer.exercise.statement, new_exercise_user_answer_path(user_answer.exercise)%></td>
        <td><%=@user.user_answers.find_all{|user_answer| user_answer.answer.true_answer== false && user_answer.exercise_id == user_answer.exercise.id}.count%></td>

        <% if user_answer.answer_id == user_answer.exercise.answers.select { |answer| answer.true_answer == true }[0].id%>
          <td>✅</td>
        <%else%>
          <td>❌</td>
        <%end%>
      </tr>
      <%end%>
    </tbody>
  </table>
  </div>
</div>

<script>
// Data for Line Chart

var userAnswers = document.getElementById('lineChart');
const dates = userAnswers.dataset.dates;
const high_prices_spot = userAnswers.dataset.scores;
console.log(dates)
console.log(high_prices_spot)

const data = {
    labels: dates,
    datasets: [ {
            label: 'User Score',
            backgroundColor: 'rgb(0, 0, 255)',
            borderColor: 'rgb(0, 0, 255)',
            data: high_prices_spot
        }]
};

const config_line = {
    type: 'line',
    data: data,
    options: {
        responsive: false,
        plugins: {
            legend: {
                position: 'top'
            },
            title: {
                display: true,
                text: 'Stock High Price Comparison'
            }
        }
    }
};

const myLineChart = new Chart(document.getElementById('lineChart'), config_line);
// var xyValues = [
//   {x:50, y:7},
//   {x:60, y:8},
//   {x:70, y:8},
//   {x:80, y:9},
//   {x:90, y:9},
//   {x:100, y:9},
//   {x:110, y:10},
//   {x:120, y:11},
//   {x:130, y:14},
//   {x:140, y:14},
//   {x:150, y:15}
// ];
// new Chart("myChart", {
//   type: "scatter",
//   data: {
//     datasets: [{
//       pointRadius: 4,
//       pointBackgroundColor: "rgba(0,0,255,1)",
//       data: xyValues
//     }]
//   },
// });


  </script>