<div class="container exercise-page">
  <h2 class="exercise-title">Exercício nº <%= @exercise.number %> - <%= @exercise.category %></h2>
  <p>Problema: <%= @exercise.statement %></p>


<br>
  <%= render 'user_answer_form'%>
<br>

<%if @exercise.user_answers[-1] %>
  <%if @exercise.user_answers[-1].answer.answer == @exercise.answers.select { |answer| answer.true_answer == true }[0].answer %>
    <p>You answered: <%=@exercise.user_answers[-1].answer.answer%></p>
    <p>Your answer is correct!</p>
  <%else%>
    <p>You answered: <%=@exercise.user_answers[-1].answer.answer%></p>
    <p>You're answer is wrong!</p>
  <%end%>
<%end%>

<br>

  <%= link_to "Go back to Exercises", exercises_path() %>
</div>

